@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  transition: width none;
}
section{
  padding: 7rem 9%;
}
.Login{
  background-image: url('/public/images/login3.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1326px;
  height: 100vh;
 
}

.form-container form{
  max-width: 30rem;
  max-height: 30rem;
  margin: 0 auto;
  margin-top: 2%;
  border: .2rem solid #444;
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

.form-container form .box{
  width: 100%;
  margin: 1rem 0;
  font-size: 1.4rem;

  color: #444;
  border: .2rem solid #444;
  border-radius: .9rem;
  background-color: #fff;
}

.form-container form p{
  font-family: 'Fresca', sans-serif;
  font-size: 1.3rem;
  color: black ;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

h3{
  font-family: 'Fresca', sans-serif;

}


.btn3{
  text-decoration: none;
  padding: 10px 25px;
  font-size: 1.2rem;
  position: relative;
  background-color: aqua;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s ease;
  font-family: 'Fresca', sans-serif;
  cursor: pointer;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);

}
.btn3:hover{
  background-color: rgb(0, 231, 231);
  
}

.btn2{
  text-decoration: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  position: relative;
  background-color: #826AED ;
  color: white;
  border-radius: 30px;
  transition: transform 0.3s ease;
  font-family: 'Fresca', sans-serif;
  cursor: pointer;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);

}

.btn2:hover{
background-color: #6a4fe6;
}

/****************************************************************************************************************/
              /******** PAGE SIGN UP ***********/
.Signup {
background-image: url('/public/images/sign2.png') ;
background-repeat: repeat-y;


 
 

      }

 .sign{
margin-top: 0%;
margin-left: 33%;
      }

.Signup .form-container form{
max-width: 30rem;
max-height: 37rem;
margin: -10% 30%;
border: .2rem solid #444;
border-radius: .5rem;
padding: 2rem;
box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
      }

h4{
  font-family: 'Fresca', sans-serif;
  color: #310adf;
}

.formik{
max-width: 30rem;
max-height: 33.1rem;
margin: 0 auto;
border: .2rem solid #444;
border-radius: .5rem;
padding: 2rem;
box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
}

/************************************************************************************************************************/
              /******** PAGE HOME ***********/

.introContainer{
  display: flex;
  justify-content: center;
  height: 500px;
  position: relative;
  z-index: 1;
  scroll-snap-align: start;
}


.intro{
  position: absolute;
  right: 0;
  bottom: 5;
  left: 0;
  overflow: hidden;
 
  
}

.btnInt{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  padding: 12px 24px;
  background-color: #826AED;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-family: 'Fresca', sans-serif;
  transition: all 0.2s ease-in-out;


}

.btnInt:hover{ 
  transition: all 0.2s ease-in-out;
  background-color: #5841be;
  box-shadow: 0 9px #999;
}

.container{
  scroll-snap-type: y mandatory;
  height: 100vh; 
}

.cont2 h1,h2{
  font-family: 'Fresca', sans-serif;
  text-align: center;

}

.cont2 h1{
  font-size: 3.5rem;
}

.cont2{
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  z-index: 1;
  scroll-snap-align: start;

}
.cont3{
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 10%;
  padding: 10px;
  position: relative;
  scroll-snap-align: start;

}

.cont3 img {
  margin-left: 10%;
  border-radius: 20px;
 box-shadow: 10px 13px 12px -3px rgba(133,102,133,0.76);
}

.cont3 .text{
  margin-top: 5%;
  margin-right: 9%;
}
.cont3 .text h1{
  letter-spacing: 1.5px;
  font-family: 'Fresca', sans-serif;
  font-size: 2.5rem;
  
}

.cont3 .text p{
  letter-spacing: 1.5px;
  font-family: 'Fresca', sans-serif;
  font-size: 1.5rem;
 
  
}

/*************************************************************************************************/
            /************* ADMIN PAGE *************/
.dashboard{
  background: rgb(199,174,238);
  background: linear-gradient(90deg, rgb(180, 148, 232) 17%, rgb(128, 167, 211) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fresca', sans-serif;

}

.glass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.54);
  overflow:scroll;
  grid-template-columns: 11rem 47rem;
}

.sidebar{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;

}

.logoa{
 display: flex;
 height: 3rem;
 font-weight: bold;
 font-size: 18px;
 gap: 1rem;
 align-items: center;
 justify-content: center;
}

.menuitem i{

  font-size: 1.3rem;
}

.menu{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.menu .menuitem a{
  text-decoration: none;
  color: #000;
}
.menuitem{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 20px;
  border-radius: 07rem;

}
.menuitem:hover{
cursor: pointer;
}
.active{
  background-color: #deb2f7 ;
  margin-left: 0%;

}
.active::before{
  content: '';
  width: 8px;
  height: 100%;
  background: #826AED;
  margin-right: calc(1rem -8px);

}
 i {
  color: #5841be;
}

/*******/
.maindash{
  margin-left: 20%;
  margin-top: 10%;
  width: 100%;
  height: 100%;

}


.cards{
  display: flex;
  gap: 40px;
}

.card1{
  width:70%;
  background-color: #826AED;
  border-radius: 4%;
  height: 5rem;
  padding-top: 4%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

}
.card1 h2{
  color: rgb(234, 232, 236);
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}

.card2 h2{
  color: rgb(25, 25, 25);
  font-size: 22px;
  font-weight: bold;
}

.card2 h3{
  padding-left: 5%;
}


.card2{
  width:70%;
  background-color: #a663cc;
  border-radius: 4%;
  height: 5rem;
  padding-top: 4%;
  padding-left: 7%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

  
}
.card2 .contentcard, .card3 .contentcard, .card4 .contentcard, .card5 .contentcard{
  display: flex;
  gap: 1rem;

}
.card2 .contentcard i{
  color: #fff;
  font-size: 20px;
  padding-left: 5%;
  text-shadow: 0px 0px 15px white;
}
.card2 h2{
  color: rgb(25, 25, 25);
  font-size: 22px;
  font-weight: bold;
}

.card2 h3{
  padding-left: 5%;
}


.card21{
  width:70%;
  background-color: #cdb4db;
  border-radius: 4%;
  height: 5rem;
  padding-top: 4%;
  padding-left: 7%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

  
}
.card21 .contentcard{
  display: flex;
  gap: 1rem;

}
.card21 .contentcard i{
  color: #fff;
  font-size: 20px;
  padding-left: 5%;
  text-shadow: 0px 0px 15px white;
}
/******/
.card3 .contentcard i, .card4 .contentcard i,.card5 .contentcard i{
  font-size: 25px;
  padding-left: 12%;
  color: #654dd4;
}

.card3 .contentcard, .card4 .contentcard,.card5 .contentcard{
  padding-top: 3%;
  padding-left: 40%;
}

.users .card3{
  background-color: #caa5df ;
  margin-top: 10%;
  padding-top: 3%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

 

}
.users .card4{
  background-color: #9ba9ff;
  margin-top: 10%;
  padding-top: 3%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

 

}
.users .card5{
  background-color: #c77dff;
  margin-top: 10%;
  padding-top: 3%;
  box-shadow: 0px 0px 15px rgb(115, 112, 112);

 

}
.users .card3 h2, .users .card4 h2, .users .card5 h2{
padding-left: 5%;
}
.users .card3 h3, .users .card4 h3, .users .card5 h3{
  
  color: #654dd4;
  font-size: 26px;

  }
/***********************************/

.sidedash{
  margin-left: 20%;
  margin-top: 20%;
  width: 100%;
  height: 100%;

}
/******************************************************************************************/
                        /*********** PAGE ADMIN USERS ***************/
.maindash2{
  margin-left: 10%;
  margin-top: 10%;
  width: 100%;
  height: 100%;

}



h1.heading{
  text-align: center;
  position: relative;
}

.maindash2 .box-container{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  gap: 1.2rem;
  justify-content: center;
  align-items: flex-start;

}

.maindash2 .box-container .box{
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .2rem solid #444;
  padding: 2rem;
  padding-top: 1rem;
}

.box-container .box h3 span{
  color: #5841be;
}

.btn5{
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  color: #fff;
  background: #48bfe3;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight:500;

}

 .btn5:hover{
background-color: #73d2de;

}
.btn4{
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  color: #fff;
  background: #654dd4;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight:500;

}

 .btn4:hover{
background-color: #8070c8;

}
/******************************************************************************************/
 /*********** PAGE ADMIN BLOGS ***************/
.form-container form{
  max-width: 30rem;
  max-height: fit-content;
  margin: 0 auto;
  border: .2rem solid #444;
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
}

.form-container form h1{
  font-size: 2.3rem;
  text-align: center;
  color: #444;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form-container form p{
  font-size: 1.3rem;
  color: black ;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

.box2{
  text-align: center;
  border: .2rem solid #444;
  border-radius: .5rem;
  padding: 1rem;
  width: 30%;


}
.box2 h3{
  font-size: 1.8rem;
  color: #000;

}

.box2 .btn6{
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  color: #fff;
  background: #fa7e8d;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight:500;

}
.box2 .btn6:hover{
  background-color: #f15a6c;
  
  }

 .books-slider .boxx{
  width: 15rem;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: .2rem solid #444;
  text-align: center;
}  

.books-slider .boxx:hover{
  border: .3rem solid #a06cd5;
  
  }
  .books-slider .boxx .icons{
    border-bottom: .1rem solid #444;
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
  
  }
  .books-slider .boxx:hover .icons{
    transform: translateY(0%);
  }
  .books-slider .boxx .icons a{
    color: #000;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    }

    .books-slider .boxx .icons a:hover{
      background: #a06cd5;
      color: #fff;
      
      
      }
      .books-slider .boxx .content{
        background: #eee;
        padding: 1rem;
      }
      .books-slider .boxx .content h3{
        color: black;
      }

      .books-slider .boxx .content p{
        color: #444;
        font-size: 1.3rem;
      }
      .books-slider .wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
      }

      .dash{
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      
      }

.boxx .content i{
  font-size: 30px;
}
      